
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<script>
        System.import('../Scripts/manageCoursesApp.js').catch(function (err)
        {
            console.error(err);
        });
</script>
<manage-courses>

</manage-courses>

