/App/LearnOn/Scripts/CourseService.js
/App/LearnOn/Scripts/CourseService.js.map
/App/LearnOn/Scripts/home.js
/App/LearnOn/Scripts/home.js.map
/App/LearnOn/Scripts/Enums.js
/App/LearnOn/Scripts/Enums.js.map
/App/LearnOn/Scripts/chat.js
/App/LearnOn/Scripts/chat.js.map
/App/LearnOn/Scripts/manageCoursesApp.js
/App/LearnOn/Scripts/myVideo.js
/App/LearnOn/Scripts/notes.js
